[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-hclfmt"]
	path = bundle/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt.git
[submodule "submodules/neocomplete.vim"]
	path = submodules/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-terraform"]
	path = vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "submodules/vim-terraform"]
	path = submodules/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "submodules/FastFold"]
	path = submodules/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "submodules/SimpylFold"]
	path = submodules/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "submodules/vim-hashicorp-tools"]
	path = submodules/vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools.git
